


body{

 background-color: powderblue;

 color:green;

 font-family:Comic Sans MS;

 font-size: 2em;
 
 font-style: italic;



}
p{
 background-color:beige ;

}
a{

 margin: 5em;

}
div{
 background-color:beige;
}