


body{

 background-color: powderblue;

 color:orange;

 font-family:Comic Sans MS;

 font-size: 2em;
 
 font-style: italic;



}
p{
 background-color:beige ;
 color:purple;
}
a{

 margin: 5em;

}
div{
 background-color:beige;
}